<!-- @format -->

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src = "./TodoList.js"defer></script>
    <link rel="stylesheet" href="./style.css" />
    <title>TodoList</title>
  </head>
  <body>
    <div class="div_main">
     <div class="div_todo">
       TodoList
     </div>
     <div class="div_input">
      <input class= "todo_input" type="text">
      <input class="btn_add" type='button' value="add">
     </div>
       <ul id = ul_ID>
      </ul>
     </div>
    
    </body>
    <script src="TodoList.js"></script>
</html>
