/** @format */

/* ------- 전체박스 -------*/

.boxDiv {
    width: 512px;

    margin: 0 auto;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25), 0px 3px 6px rgba(0, 0, 0, 0.16);
}
/* ------- 타이틀 박스 -------*/
.titleBox {
    width: 512px;
    height: 110px;

    margin: 0 auto;
    display: flex;
    align-items: center;

    background: #51d3e7;
}
.titleTextDiv {
    width: 296px;
    height: 30px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    /* or 40px */

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: -0.05em;

    color: #ffffff;
}
/* ------- 내용 입력 칸 ------- */
.addBox {
    width: 512px;
    height: 63px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-bottom: 1px solid #4fc0d1;
}
.addTextDiv {
    box-sizing: border-box;
    width: 400px;
    height: 36px;
    background: #ffffff;
    border: 0px;
    border-bottom: 1px solid #c5f6fa;
}
/* ------- 버튼 ------- */
button.add {
    width: 60px;
    height: 30px;
    border-radius: 4px;
    border: none;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: -0.05em;

    background: #24c3dc;
    color: #ffffff;
}
button.add:hover {
    background: #2ae3ff;
    border-radius: 4px;
}
button.add:active {
    background: #1d99ac;
    border-radius: 4px;
}
/* ------- 할 일 ------- */
.todolistBox {
    width: 512px;

    margin: 0px;
    padding: 0px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.todoList {
    width: 472px;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todoList:hover > .xBtn {
    visibility: visible;
}
.todoList:hover > .editBtn {
    visibility: visible;
}
.todoList:hover {
    background: #e3fafc;
}
.xBtn {
    width: 9px;
    height: 16px;
    border: none;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: -0.05em;

    background: #e3fafc;
    color: #ff6161;
}
.todolistText {
    width: 390px;
    height: 18px;
    border: 0px;

    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    /* or 16px */

    display: flex;
    align-items: center;
    letter-spacing: -0.05em;
    color: #606060;
}
/* ------- 수정버튼 ------- */
.editBtn {
    top: 18px;
    left: 432px;
    width: 40px;
    height: 24px;
    border: none;

    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    /* or 13px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.05em;

    visibility: hidden;

    background: #24c3dc;
    color: #ffffff;
    border-radius: 4px;
}
button.editBtn:hover {
    background: #2ae3ff;
    border-radius: 4px;
}
button.editBtn:active {
    background: #1d99ac;
    border-radius: 4px;
}
